<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        
        <!-- <link rel="stylesheet" href="/styles/resets.scss">
        <link rel="stylesheet" href="/styles/base.scss">
        <link rel="stylesheet" href="/styles/header.scss">
        <link rel="stylesheet" href="/styles/form.scss">
        <link rel="stylesheet" href="/styles/footer.scss"> -->

    </head>

    <body>
        <h1>Travel Planner</h1>
        

        <main>
            <section>
                <form class="" onsubmit="return handleSubmit('click')">
                    <input id="City" type="text" name="input" value="paris"  placeholder="City">
                    <input id="date" type="text" name="text" value=""  placeholder="Departure date m/d/y">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
                </form>
            </section>

            
        </main>
        <div class="container">
            <div class="picture">
                <img id="image">
            </div>
            <div id = 'destination' class="data"></div>
            <button type="button" class="rest" onclick="Client.saveTrip()">Save trip</button>
            <div class="weather" id ='weather'></div>
          </div>
    
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
           </script>
    </body>
</html>
