body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}

h1 {
    display: flex;
    justify-content: center;
}
@media only screen and (max-width: 1300px){
  .container {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1.2fr 0.8fr 1fr 1fr; 
    gap: 1em 1em; 
    grid-template-areas: 
      "picture"
      "data"
      "rest"
      "weather"; 
    justify-content: center; 
    justify-items: center; 
    background-color: pink;
  }
  .picture { grid-area: picture; }
  .data { grid-area: data; }
  .rest { grid-area: rest; }
  .weather { grid-area: weather; }
}


@media only screen and (min-width: 1301px){
.container {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1.2fr 0.8fr; 
    gap: 1em 1em; 
    grid-template-areas: 
      "picture data"
      "rest weather"; 
    justify-content: center; 
    justify-items: center; 
    background-color: pink;
  }
  .picture {
    justify-self: end; 
    grid-area: picture; 
  }
  .data {
    justify-self: start; 
    grid-area: data; 
    font-size: 2em;
  }
  .weather {
    justify-self: start; 
    grid-area: weather; 
  }
  .rest {
    justify-self: end; 
    grid-area: rest; 
  }
}